@import 'utils';

.ccol {
    padding-right: 5px !important; 
    padding-left : 5px !important;
}


//미디어 적용
//wide면 ;
//아니면 없음
.cards{


    @include media("<medium"){
        padding-left: 1rem;
        padding-right: 1rem;
    }

    padding-left: 6rem;
    padding-right: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; //위에서 아래로
}
