@import 'utils';


.title{
    h1{
        border:1px solid $oc-indigo-4;
    }
    
    padding-top: 50px;
    margin-bottom:50px;
    color: white;
    //내부 내용 가운데 정렬
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; //위에서 아래로
}