@import 'utils';

.EventSection{

    width:90%;
    background-color: white;
    
    display: flex;
    justify-content: center;
    flex-direction: column; //위에서 아래로
    text-align: center;


    
    @include media("<medium"){
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left:1rem;
        margin-right:1rem;
    }

    margin:4rem;
    padding-bottom: 1.5rem;
    //margin-right: 8rem;

}

